<% @search_posts.each do |post| %>

<div class="post">
	<h2 class="title"><%= link_to post.title, post %></h2>
	<div class="entry">
		<p><%= truncate post.body, length: 200, separator: /\w/, omission: "..." %></p>
		<p>Category: <%= link_to post.category.category_name, post.category rescue nil %></p>
	</div>
	<div class="byline">
		<p class="meta"><%= post.created_at.strftime("%B %d, %Y") %> Posted by <%= post.admin_user.fullname %></p>
		<p class="links"><%= link_to "Read More", post %></p>
	</div>
</div>

<% end %>

